body {
  margin: 0px;
  background-color: #ededed;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  overflow-x: hidden;
}

#colorstrip{
  width: 100%; height: 300px;
  background-color: #cecece;
}

.hello {
  /*font-size: 70px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-transform: uppercase;*/

  height: 50px;
  color: white;
  padding-top: 110px;
  padding-bottom: 10px;
}

.about {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #5a5a5a;
  padding: 5px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*style for columns */
.column {
  float: left;
  width: 25%;
}

.image {
  width: 85%;
  padding-bottom: 40px;
}

.margin {
  margin-left: 45px;
  margin-right: 45px;
}

.margin-sites {
  margin-left: 120px;
}

.box {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.column-sites {
  float: left;
  width: 30%;
}

.image-sites {
  /*width: 70%;*/
  max-width:100%;
  max-height:100%;
  padding-bottom: 10px;
}

.border {
  border-style: solid;
  padding: 20px;
  border-width: 1px;
  border-color: #a6a6a6;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 300px;
  text-align: left;
}

.site {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: grey;
  text-align: left;
  text-decoration: none;
}

.site:hover {
  text-decoration: underline;
}
/*end style for columns */


/*style slides*/
.slide {
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: absolute;
  height: 700px;
  width: 100%;
  background-color: white;
  top: 105px;

  transition-property: left;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;

  left: 100%;
}

.slide-visible {
  left: 0%;
}

.slide-bg {
  height: 760px;
}

.image_centered {
  padding-bottom: 20px;
  padding-top: 50px;
  display: block;
  margin: auto;
  height: 500px;
}

.image_centered_type {
  padding-bottom: 20px;
  padding-top: 50px;
  display: block;
  margin: auto;
  height: 600px;
}

.text-slide {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #5a5a5a;
  text-transform: uppercase;
}

#slide1 {
  background-color: #cecece;
}
#slide2 {
  background-color: #bcbcbc;
}
#slide3 {
  background-color: #cecece;
}
#slide4 {
  background-color: #bcbcbc;
}
#slide5 {
  background-color: #cecece;
}

.prev {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

  padding: 6px 10px;
  background-color: white;
  color: black;

  position: absolute;
  top: 400px;
  left: 400px;
  z-index: 10;
}

.next {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

  padding: 6px 10px;
  background-color: white;
  color: black;

  position: absolute;
  top: 400px;
  right: 400px;
  z-index: 10;
}

.next:hover {
  color: white;
  background-color: black;
}

.prev:hover {
  color: white;
  background-color: black;
}
/*end style slides*/


a:hover {
  cursor: pointer;
}


/*style index navbar*/
.responsive {
  width: 100%;
  padding: 8%;
  box-sizing: border-box;
}

.navbar {
  font-size: 15px;
  background-color: white;
  color: #4d9e93;
  padding: 45px;
  padding-bottom: 60px;
}

.navbar-right {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  width: 50%;
  float: right;
}

.navbar-left {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 50%;
  float: left;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 10pt;
  letter-spacing: 2px;
  margin-left: 20px;
  padding-left: 3px;
  padding-right: 3px;

}

.nav-link:hover {
  color: white;
  background-color: black;
  box-sizing: border-box;
}

.nav-link:first-child {
  margin-left: 10px;
}

.nav-link:last-child {
  margin-right: 10px;
}
/*style index navbar*/



/*.selected {
  background-color: white;
  color: black;
}*/



@media (max-width: 600px){
    .responsive {
      background-color: #ededed;
    }

    .nav-link {
    display: block;
    }
